.icons {
   margin-left: 33%;
   margin-right: 33%;
   margin-top: 32px;
}

.icons-text {
   text-align: center;
   margin-top: 32px;
   margin-bottom: 64px;
}

.content-about {
   margin: auto;
   color: #000;
   font-size: 18px;
   max-width: 900px;
   line-height: 24px;
   text-align: center;
   padding-bottom: 64px;
 }

 .h4-style {
    margin-bottom: 16px;
    margin-right: 32px;
 }

.privacy-textblock {
   width: 600px;
   margin: auto;
}