.grey {
   background-color: #ddd;
 }

 .container {
  background: #eee;
  width: 100%;
  /* margin: 10em auto; */
  border-radius: 8px;
  padding: 20px 10px;
  color: #000;
}

.container-style {
  /* background-color: tomato; */
  top: -160px;
  position: inherit;
}

.mt-48 {
  margin-top: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-72 {
  margin-bottom: 72px;
}

.center {
  display:flex;
  justify-content:center;
  align-items: center;
}

.spinner-style {
  margin: auto;
}

.read-list {
  margin-top: -120px;
  /* margin-bottom: 0px;
  background-color: lightpink; */
}